<div class=" h-full w-full px-5 pt-6 pb-20 overflow-y-auto">
  <div class="mb-3">
      <h1 class="text-3xl text-white font-bold">Blocks</h1>
      <p class="text-sm text-purple-500 uppercase font-bold">Last Blocks</p>
  </div>    

  <% @blocks.each do |block| %>
      <% if block %>
          <div class="mb-5">
              <a href="<%= url_for(block) %>" class="block rounded-lg relative p-5 transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "gimage.png" %>) center; background-size: cover;">
                  <div class="absolute top-0 right-0 -mt-3 mr-3">
                      <div class="rounded-full bg-indigo-500 text-white text-xs py-1 pl-2 pr-3 leading-none"><i class="mdi mdi-fire text-base align-middle"></i> <span class="align-middle">FRESH</span></div>
                  </div>
                  <div class="h-48"></div>
                  <h2 class="text-white text-2xl font-bold leading-tight mb-3 pr-5">Block <%= block.id %></h2>
                  <div class="flex w-full items-center text-sm text-gray-300 font-medium">
                      <div class="flex-1 flex items-center">
                          <div class="rounded-full w-8 h-8 mr-3" style="background: url(<%= asset_path "logo.png" %>) center; background-size: cover;"></div>
                          <% if block.master_hash.present? %>
                                <div class="text-white" style="font-weight: 550;" >confirmed</div>
                          <% else %>
                                <div class="text-white" style="font-weight: 600; font-size: 25px;" >unconfirmed</div>
                          <% end %>
                      </div>
                     
                    <div><i class="mdi mdi-thumb-up text-black"></i><%= block.transactions.count %> transactions</div>
                  </div>
              </a>
          </div>
      <% end %>
  <% end %>
  
  <div class="mb-3">
      <h1 class="text-3xl text-white font-bold">HUB</h1>
      <p class="text-sm text-purple-500 uppercase font-bold">explore</p>
  </div>

  <div class="flex -mx-1 mb-5">

      <div class="w-1/2 px-1 text-center">
          <a href="blocks" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "space.jpg" %>) center; background-size: cover;">
              <div class="h-24"></div>
              <div class="text-lg font-bold text-black leading-tight glitch" data-glitch="Blockchain">Blockchain</div>
          </a>
          <a href="transactions" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "space_two.jpg" %>) center; background-size: cover;">
              <div class="h-32"></div>
              <div class="text-lg font-bold text-white leading-tight glitch" data-glitch="Transactions">Transactions</div>
          </a>
      </div>

      <% if user_signed_in? %>
        <div class="w-1/2 px-1 text-center">
          <a href="wallets" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "space_th.jpg" %>) center; background-size: cover;">
              <div class="h-32"></div>
              <h3 class="text-lg font-bold text-white leading-tight glitch" data-glitch="Wallet">Wallet</h3>
          </a>
          <a href="mining_profile" class="block mb-2 p-5 rounded overflow-hidden text-center transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "space_four.jpg" %>) center; background-size: cover;">
              <div class="h-24"></div>
              <div class="text-lg font-bold text-white leading-tight glitch" data-glitch="Mining Profile">Mining Profile</div>
          </a>
      </div>
      <% else %>
        <div class="w-1/2 px-1 text-center">
            <a href="/users/sign_in" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "space_th.jpg" %>) center; background-size: cover;">
                <div class="h-32"></div>
                <h3 class="text-lg font-bold text-white leading-tight glitch" data-glitch="Login">Login</h3>
            </a>
            <a href="/users/sign_up" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover_scale-95" style="background: url(<%= asset_path "space_four.jpg" %>) center; background-size: cover;">
                <div class="h-24"></div>
                <h3 class="text-lg font-bold text-white leading-tight glitch" data-glitch="Sign Up">Sign Up</h3>
            </a>
        </div>
      <% end %>
  </div>

  
</div>