<!DOCTYPE html>
<html>
  <head>
    <title>OuterspaceBlockchain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="backimage">
    <main>
      <%= render "layouts/navbar" %>


      <div class="md_container md_mx-auto px-5 w-600 h-full bg-future" >
        <% if notice %>
          <%= render "layouts/notice" %>
        <% end %>

        <% if alert %>
          <%= render "layouts/alert" %>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
